@model FenWeiBo.Models.WeiComment
    

@using (Ajax.BeginForm("AddComment", "Home", new AjaxOptions
{
    OnSuccess = "onLoginSuccess",
    LoadingElementId = "loading",
    OnBegin = "onLoginBegin"
}, new { @id = "loginForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend></legend>
        <ol>
            <li>
               <input type="text" value="@ViewBag.weid"/>
            </li>
            <li>@ViewBag.weid</li>
        </ol>
        <input type="submit" value="发表"  onclick="submit()"/>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function submit() {
        $.ajax({
            url: '@Url.Action("AddComment", "Home")',
            success: function (result) { $("#div1").html(result); },
            error: function () { alert("更新div1出错了");}
        });
    }
</script>