@model FenWeiBo.Models.WeiComment
    

@using (Ajax.BeginForm("AddComment", "Home", new AjaxOptions
{
    OnSuccess = "onLoginSuccess",
    LoadingElementId = "loading",
    OnBegin = "onLoginBegin"
}, new { @id = "loginForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend></legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.comment)
                @Html.TextBoxFor(m => m.comment)
            </li>
        </ol>
        <input type="submit" value="发表" />
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
