
@model FenWeiBo.Models.User
@{
        ViewBag.Title = "注册";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>新建帐户。</h2>
</hgroup>

@using (Html.BeginForm("Register", "User",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>注册表单</legend>
        <ol>
            <li>
                @Html.LabelFor(m =>m.userid)
                @Html.TextBoxFor(m => m.userid)
            </li>
            <li>
                @Html.LabelFor(m => m.pwd)
                @Html.PasswordFor(m => m.pwd)
            </li>
            <li>
                @Html.LabelFor(m => m.uname)
                @Html.TextBoxFor(m => m.uname)
            </li>
            <li>
                @Html.LabelFor(m => m.tel)
                @Html.TextBoxFor(m => m.tel)
            </li>
        </ol>
        <input type="submit" value="注册" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
